<footer class="footer">
  <cite class="footer__copyright">&copy; {{ "" | currentYear }} Tolga Egilmezel</cite>
  <div class="footer__social">
    <a class="footer__external" target="_blank" href="https://twitter.com/Tolga_Egilmezel" rel="me nofollow noopener"
      title="{{link__titles.twitter}}">Twitter</a>
    <a class="footer__external" target="_blank" href="https://www.linkedin.com/in/tolgaegilmezel/"
      rel="me nofollow noopener" title="{{link__titles.linkedin}}">Linkedin</a>
    <a class="footer__external" target="_blank" href="https://open.spotify.com/user/tolga_egilmezel"
      rel="me nofollow noopener" title="{{link__titles.spotify}}">Spotify</a>
  </div>
  <!-- <nav class="footer__language">
    {% for item in site.langs %}
    {% if lang != "en" %}
    <a href="/">English</a>
    {% else %}
    <a href="/tr/">Türkçe</a>
    {% endif %}
    {% endfor %}
  </nav> -->
</footer>