<!DOCTYPE html>
<html lang="{{ lang }}">

	<head>
		<link rel="preconnect" href="https://use.typekit.net" crossorigin>
		<link rel="preconnect" href="https://p.typekit.net" crossorigin>

		{% include "../meta/head.njk" %}

		<link rel="stylesheet" href="/assets/css/main.css">
		<link rel="stylesheet" href="/assets/css/home.css">

		<link rel="stylesheet" href="https://use.typekit.net/jyk5aix.css">

	</head>

	<body>
		<main class="home">

			<section class="content">
				{{ content | safe }}
			</section>

			{% include "../shared/footer.njk" %}

		</main>
	</body>

</html>
